.cpf-page {
    margin: 0 8px;
}

.cpf-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}

.cpf-submit-btn {
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", serif;
    background-color: #ffd333;
    color: #212529;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
}

.cpf-submit-btn:hover {
    background-color: #f5c000;
}

.coupon-form {
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cpf-flex2 {
    flex: 2;
}

.cpf-flex1 {
    flex: 1;
}

.cpf-left, .cpf-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cpf-box {
    background-color: #fff;
    border-radius: 2px;
    padding: 24px;
}

.cpf-box-title {
    font-size: 18px;
    color: #212529;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.cpf-box-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cpf-box-content {
    display: flex;
    flex-direction: column;
}

.cpf-label {
    font-size: 14px;
    font-weight: 700;
    color: #212529;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}

.cpf-input {
    height: 36px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    outline-color: #bbb;
    padding: 0 10px;
    letter-spacing: 0.5px;
}

.cpf-input::-webkit-inner-spin-button,
.cpf-input::-webkit-outer-spin-button {
    appearance: none;
}

.cpf-image-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.cpf-prod-img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
}

.cpf-file-input {
    padding: 10px 0;
    border: 1px solid #ced4da;
    flex: 1;
}

.cpf-textarea {
    height: 150px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    outline-color: #bbb;
    resize: none;
    letter-spacing: 0.5px;
}

.cpf-del-btn {
    width: 36px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cpf-del-btn:hover {
    background-color: #efefef;
    color: red;
}

.cpf-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.cpf-add-btn {
    font-size: 14px;
    font-family: "Roboto", serif;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}

.cpf-select {
    height: 36px;
    border: 1px solid#ced4da;
    outline-color: #bbb;
}

.cpf-box-para {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #515151;
}