.list-page {
    margin: 0 8px;
}

.lp-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}

.lp-link-btn {
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", serif;
    background-color: #ffd333;
    color: #212529;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
}

.lp-link-btn:hover {
    background-color: #f5c000;
}