.page-header {
    flex: 1;
    padding: 24px 0;
}

.ph-nav-link, .ph-nav-span {
    text-decoration: none;
    font-size: 13px;
    color: #828f99;
}

.ph-nav-link:hover {
    text-decoration: underline;
}

.ph-nav-span {
    padding-left: 8px;
}

.ph-nav-span::before {
    content: "/";
    padding-right: 8px;
}

.ph-title {
    font-size: 28px;
    color: #212529;
    font-weight: 500;
    margin-top: 5px;
}