
.sidebar {
    width: 100%;
    height: 100%;
    background-color: #3d464d;
}

.sb-head {
    height: 52px;
    width: 100%;
}

.sb-title-box {
    text-decoration: none;
    color: #212529;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffd333;
}

.sb-title {
    font-size: 24px;
    font-weight: 700;
    color: #3d464d;
}

.sb-role {
    margin-left: 10px;
    background-color: #fff;
    color: #3d464d;
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 2px;
}

.sb-list {
    padding-top: 10px;
}

.sb-list-item {
    list-style: none;
}

.sb-menu-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
}

.sb-menu-link:hover,
.sb-submenu-link:hover {
    background-color: #48525a;
}

.sb-menu-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sb-menu-icon {
    font-size: 14px;
    display: flex;
}

.sb-menu {
    font-size: 14px;
    margin-left: 15px;
}

.sb-menu-caret {
    font-size: 14px;
    color: #aaa;
    display: flex;
    transition: all 0.3s linear;
}

.sb-menu-caret-act {
    font-size: 14px;
    color: #aaa;
    display: flex;
    transition: all 0.3s linear;
    transform: rotate(90deg);
}

.sb-submenu-list {
    min-width: 240px;
}

.sb-submenu-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px 7px 50px;
}

.sb-submenu {
    font-size: 14px;
}